<!DOCTYPE html>
<html>
<head>
  <title>GoalApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= flash[:errors] %>
<% if signed_in? %>
  <%= current_user.username %> <%= button_to "Logout", session_url, method: :delete  %>
<% end %>

<%= yield %>

</body>
</html>
